.about-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 1rem;
    text-align: center;
}

.about-section p {
    font-size: 1.1rem;
    color: #495057;
    line-height: 1.6;
    margin: 0.5rem 0;
}

.about-section h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
    margin-top: 1.5rem;
}

.about-section ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 1rem 0;
    text-align: left;
    display: inline-block;
}

.about-section ul li {
    margin: 0.5rem 0;
}
