.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.register-page h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.register-page input {
  width: 50%;  
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px; 
  border: 1px solid #ccc; 
}

.register-page .button {
  padding: 8px 16px;
  background-color: #d3d3d3; 
  color: #333;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
  max-width: 150px;
  width: 100%;
  box-sizing: border-box;
}
