/* src/components/BookingButton.css */

.booking-button {
    background-color: #d3d3d3;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.booking-button:hover {
    background-color: #b0b0b0;
    color: #fff;
}